<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-8 columns">
      <label>Title<br>
        <%= f.text_field :title %>
      </label>
    </div>
  </div>

  <div class="large-8 columns">
    <%= button_tag "Submit", :class => "small radius" %>
  </div>
<% end %>

<!--old code
<div class="row">
  <div class="actions">
    %<= f.submit %>
  </div>
</div>
-->