<p id="notice"><%= notice %></p>
<h1>Do All The Things</h1>

<h1 class="page_title">Do All The Things</h1>

<br>
<table>
  <thead>
    <tr>
      <th>List Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.title %></td>
        <td><%= link_to 'Show Tasks', list_tasks_path(list) %></td>
        <td><%= link_to 'Edit Title', edit_list_path(list) %></td>
        <td><%= link_to 'Delete List', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>


<br>

<div class="text_center">
<%= link_to 'Create New List', new_list_path %>
<br>
<%= link_to 'Show All Tasks', tasks_index_path %>
</div>


