<p id="notice"><%= notice %></p>

<p>
  <strong><%= link_to @list.name, edit_list_path(@list) %></strong>
  <% @list.todos.each do |t| %>
    <% unless t.done %>
      <li>
        <%= link_to(t.name, todo_path(t.id)) %> | Did it? <%= form_for(t) do |f| %><%= f.check_box :done %><%= f.submit %>
          <% end %>
      </li>
    <% end %>
  <% end %>
<li><%= link_to 'Add Todo', new_todo_path(@list) %></li>
</p>

<%= link_to 'Show Done Todos', show_done_path(id: @list.id) %> |
<%= link_to 'Back', lists_path %>