<p id="notice"><%= notice %></p>

<p>
  <strong><%= link_to @list.name, edit_list_path(@list) %></strong>
</p>

<p>
  <strong>Todos:</strong>
  <% @list.todos.each do |t| %>
    <% unless t.done %>
      <li><%= link_to(t.name, todo_path(t.id)) %></li>
    <% end %>
  <% end %>
<li>Add Todo</li>
</p>

<%= link_to 'Show Done Todos', show_done_url(id: @list.id) %> |
<%= link_to 'Back', lists_path %>