<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @list.user.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Todos:</strong>
  <% @list.todos.each do |t| %>
    <% unless t.done %>
      <li><%= link_to(t.name, todo_path(t.id)) %></li>
    <% end %>
  <% end %>
</p>


<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
