<div class="panel">
	<div class="profile-info">
	  <h1><%= link_to displayed_user.name, profile_path(displayed_user) %></h2>
	  <h2><%= link_to displayed_user, profile_path(displayed_user) %></h2>

      <%= image_tag displayed_user.gravatar_url %>

	  <p><%= displayed_user.profile.bio %></p>

	  <h3><%= displayed_user.profile.location %></h3>

		<h4><%= link_to displayed_user.profile.website, correct_link(displayed_user.profile.website), :class => "profile-info" %></h4>

		<section>
		  <%= render 'shared/stats' %>
		</section>

	</div>

</div>

<div class="profile-option">
	<% current_user %>
	<% if current_user? displayed_user %>
		<div class="profile-button">
	    <%= link_to 'Edit Profile', edit_profile_path(displayed_user) %>
		</div>
	<% else %>
	  <%= render 'shared/follow_form'%>
	<% end %>

</div>