<div class="row">
	<div class="small-8 small-offset-2 columns">
	  <h1>Browse Users</h1>
	</div>
</div>

	<% @profiles.each do |profile| %>

  <div class="row">

			<div class="small-2 small-offset-2 columns">
				<div class="profile-info">
			      <h1><%= link_to profile.user.name, profile %></h1>
			      <h2><%= link_to profile.user, profile %></h2>
			      <%= image_tag profile.user.gravatar_url %>
			      <h3><%= profile.location %></h3>
			      <%= link_to profile.website, correct_link(profile.website) %>
				</div>
			</div>
			<div class="small-8 columns end">
				<div class="profile-info">
			      <p class="profile">Bio: <%= profile.bio %><p>
			      <p class="profile">Last Post: <%= profile.user.posts.last %></p>
				</div>
			</div>

	</div>
	<div class="divider"></div>
  <div class="divider"></div>
	<% end %>
</table>