<div class="row">
  <div class="small-3 columns">

		<%= render 'profile_box' %>


	  <% if current_user? displayed_user %>
	    <div class="posts-small-form">
	      <%= new %>
	      <%= render 'posts/form' %>
	    </div>
		<% end %>

    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'shared/follow_form'%>

    </section>


    <%= link_to 'All Profiles', profiles_path %> |
    <%= link_to "New Post", new_post_path %>


  </div>
  <div class="small-6 columns" %>

			<%= render 'posts/print_post', :posts => @profile.user.posts %>

  </div>
  <div class="small-3 columns">
    <div class="row">
      <div class="small-12 columns">
	      <div class="panel">
          <%= link_to 'All Profiles', profiles_path %>
		    </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <div class="panel">
          <p>Random people they follow</p>
	      </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <div class="panel">
          <p>Random people that follow them</p>
        </div>
      </div>
    </div>
  </div>
</div>
