<p id="notice"><%= notice %></p>


<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Location:</strong>
  <%= @profile.location %>
</p>

<p>
  <strong>Website:</strong>
  <%= @profile.website %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>

<% @user.posts.each do |post| %>
    <li>
      <%= post.message %>: <%= post.location %> to <%= post.timestamps %>
      <%= link_to "Edit", edit_post_path(post) %>
      <%= link_to "New", new_post_path(post) %>
    </li>
<% end %>
