<%= form_for([@list, @task.build]) do |f| %>

<div class="element_center">
  <div class="row">
    <div class="large-12 columns">
      <label>Title<br>
        <%= f.text_field :title %>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Description<br>
        <%= f.text_area :description, :placeholder => "Write something here about what you have to do." %>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Due Date<br>
        <%= f.date_field :due_date %>
      </label>
    </div>
  </div>

  <div class="large-8 columns">
    <%= button_tag "Submit", :class => "small radius" %>
  </div>
</div>
<% end %>


