<p id="notice"><%= notice %></p>

<h1><%= @list ? @list.title : "All Tasks" %></h1>

<form>
<% @tasks.each do |task| %>
  <% unless task.complete? == true %>
    <div><input value="<%= task.title %>" type="checkbox"><%= task.title %></div>

  <% end %>
<% end %>
</form>



<%= if @list then link_to 'Add New Task', new_list_task_path(@list) end %>
<br>
<%= link_to 'Back To Lists', lists_path %>

