
<p id="notice"><%= notice %></p>

<h1><%= @list ? @list.title : "All Tasks" %></h1>

<% @tasks.each do |task| %>

  <% unless task.complete? %>
    <%=link_to "#{task.title}" %>
  <% end %>









<%= if @list then link_to 'Add New Task', new_list_task_path(@list) end %>
<br>
<%= link_to 'Back To Lists', lists_path %>

