<div class="row" id="background">


  <div class="row">
   <p></p>
  </div>

  <div class="row">
    <div class="small-7 large-7 columns"><p></p></div>
    <div class="small-3 large-4 columns">
      <div id="login">
        <h3>Login</h3>
        <%= form_tag login_path, :method => :post do %>
            <%= label_tag :email %>
            <%= text_field_tag :email %>
            <%= label_tag :password %>
            <%= password_field_tag :password %>
            <%= button_tag "Login", :class => "small radius" %>
        <% end %>
      </div>
      <div><p></p></div>
      <div id="register">
        <h3>Register</h3>
        <%= render "users/form" %>
      </div>
      <div><p></p></div>
    </div>
    <div class="small-2 large-1 columns"><p></p></div>
  </div>
</div>
