<div class="row">
  <div class='headings'><h4 class="large-12 columns">Login</h4></div>

  <%= form_tag logins_path, :method => :post do %>
    <div class="large-6 columns">
      <%= label_tag :email %>
      <%= text_field_tag :email %>
    </div>
    <div class="large-6 columns">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div class="large-12 columns">
      <%= button_tag "Login", :class => "small radius" %>
    </div>
  <% end %>
<%= link_to 'Home', root_path %>&nbsp|&nbsp<%= link_to 'Sign Up', new_user_path %>
</div>
