<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="element_center">
    <div class="large-12 columns">
      <label>Name<br>
        <%= f.text_field :name %>
      </label>
    </div>
    <div class="large-12 columns">
      <label>Email<br>
        <%= f.text_field :email %>
      </label>
    </div>
    <div class="large-12 columns">
      <label>Password<br>
        <%= f.password_field :password %>
      </label>
    </div>
    <div class="large-12 columns">
      <label>Password Confirmation<br>
        <%= f.password_field :password_confirmation %>
       </label>
    </div>
  </div>
  <div class="element_center">
    <div class="large-8 columns">
      <%= button_tag "Sign Up", :class => "small radius" %>
    </div>
  </div>
    <!--<div class="actions">
      <#= f.submit "Sign Up"%>
    </div>-->
<% end %>
