<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @user.name %></h1>
      <span><%= link_to "View my Profile", @user.profile %></span>
    </section>
  </aside>
    <section>
      <%= render 'shared/stats' %>
      <% if @users.any? %>
            <div class="span8">
            <h3><%= @title %></h3>
            </div>
              <div class="user">
            <% @users.each do |user| %>
                <%= link_to user, profile_path(user) %>
            <% end %>
            </div>
      <% end %>
    </section>

</div>
