<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h3>Posts by <%= @user.name %></h3>
<% @posts.each do |post| %>
<div class="showusertitle"><%= link_to markdown(post.title), post_path(post) %></div>
<div class="showusercontent"><%= markdown(post.content) %></div>
<% end %>


<h3>Comments by <%= @user.name %></h3>
<% @comments.each do |comment| %>
  <h4><%= link_to comment.post.title, comment.post %></h4>
  <h6>Post Author: <%= comment.post.user.name %></h6>
  <p><%= comment.body %></p>
<% end %>
