<p id="notice"><%= notice %></p>

<p>
  <strong>Welcome, <%= @user.name %>!</strong><br>
  <strong>Let's get some stuff Did.  </strong>
</p>


<p>
  <strong>Lists:</strong>
  <% @user.lists.all.each do |l| %>
    <li><%= link_to(l.name, list_path(l.id)) %></li>
  <% end %>
</p>

<p>
  <strong><%= link_to 'Show All Todos', todos_path %></strong>
</p>
<br>
<%= link_to 'Edit User Info', edit_user_path(@user) %>
