<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h3>Posts by <%= @user.name %></h3>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Users', users_path %> |
<%= link_to 'Posts', posts_path %>
<!-- <%= link_to 'Back', users_path %> -->
