<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h3>Posts by <%= @user.name %></h3>
<% @posts.each do |post| %>
<div class="showusertitle"><%= link_to markdown(post.title), post_path(post) %></div>
<div class="showusercontent"><%= markdown(post.content) %></div>
<% end %>


<!-- <%= link_to 'Back', users_path %> -->
