<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% @user.lists.each do |list| %>
  <%= list %>
  <table class="large-12 columns">
    <thead>
      <tr>
        <th>Item</th>
        <th>Note</th>
        <th>Date</th>r
        <th>Complete</th>
      </tr>
    </thead>
    <tbody>
      <% list.todos.each do |todo| %>
        <% unless todo.complete %>
          <tr>
              <td class="editable_textarea"><%=	todo.item  %></td>
              <td class="editable_textarea"><%= todo.note  %></td>
              <td class="editable_textarea"><%=	todo.date  %></td>
              <td><%=	todo.complete  %></td>
              <td>
                <form>
                  <input id="checkbox1" type="checkbox">
                </form>
              </td>
          </tr>
        <% end %>
      <%  end %>
    </tbody>
  </table>

  <br>

<% end %>

<%= link_to 'Edit', edit_user_path() %>
