<h1>Homepage</h1>

<h3>Recent Posts</h3>

<formhome>
  <fhead>
    <div class="posttitle">Title</div>
    <div class="published">Date Published</div>
    <div class="author">Author</div>
  </fhead>
  <fcontent>
    <% @posts.order(published_date: :asc).each do |post| %>
    <div class="ftitle"><%= link_to post.title, post_path(post)%></div>
    <div class="fpub"><%= post.published_date %></div>
    <div class="fauthor"><%= link_to post.user, post.user%></div>
    <div class="fbody"><%= post.content %></div>
    <% end %>
  </fcontent>

  <!-- <dhead>
    <div class="userpost">Post</div>
  </dhead>
  <dcontent>
    <% @posts.each do |post| %>
    <div class="fbody"><%= post.content %></div>
    <% end %>
  </dcontent> -->



</form>


<!--
<tbody>
<% @posts.order(published_date: :asc).each do |post| %>
<tr>
<td><%= post.title %></td>
<td><%= post.published_date %></td>
<td><%= post.user %></td>
</tr>
<tr>
<td><%= post.content %></td>
</tr>
<% end %>
</tbody>
</table> -->
<!-- <table>
<thead>
<tr>
<th>Title</th>
<th>Published Date</th>
<th>Author</th>
<th colspan="3"></th>
</tr>
<tr>
<th>Content</th>
</tr>
</thead>

<tbody>
<% @posts.order(published_date: :asc).each do |post| %>
<tr>
<td><%= post.title %></td>
<td><%= post.published_date %></td>
<td><%= post.user %></td>
</tr>
<tr>
<td><%= post.content %></td>
</tr>
<% end %>
</tbody>
</table> -->

<br>
