<h1>Listing todos</h1>

<table>
  <thead>
    <tr>
      <th>List</th>
      <th>Name</th>
      <th>Note</th>
      <th>Due date</th>
      <th>Done</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <% unless todo.done %>

          <td><%= todo.list.name %></td>
          <td><%= todo.name %></td>
          <td><%= todo.note %></td>
          <td><%= todo.due_date %></td>
          <td><%= todo.done %></td>
          <td><%= link_to 'Show', todo %></td>
          <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
          <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo', new_todo_path %>
