<div class="row">
  <div class="large-12 columns">
    <h1>Listing All Todos</h1>

    <table>
      <thead>
        <tr>
          <th>List</th>
          <th>Todo</th>
          <th>Note</th>
          <th>Due date</th>
        </tr>
      </thead>

      <tbody>
        <% @todos.each do |todo| %>
          <tr>
            <% unless todo.done %>

              <td><%= link_to todo.list.name, list_path(todo.list.id) %></td>
              <td><%= link_to todo.name, todo_path(todo.id) %></td>
              <td><%= todo.due_date %></td>
              <td><%= todo.note %></td>

            <% end %>
            </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Back', root_path %>
  </div>
</div>