<p id="notice"><%= notice %></p>

<p>
  <strong>List:</strong>
  <%= @todo.list.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @todo.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @todo.note %>
</p>

<p>
  <strong>Due:</strong>
  <%= @todo.due_date %>
</p>


<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', list_path(@todo.list) %>
