<h1>Listing posts</h1>

<table>
  <thead>

  </thead>

  <tbody>

  <% @posts.reverse_order.each do |post| %>
      <tr>
      <div class="post">
        <%= link_to post.user.name, profile_path(post.user) %>
        <%= link_to '@' + post.user.handle, profile_path(post.user) %>
        <%= time_ago_in_words(post.created_at) %>
        <p>
          <%= post.message %>
          <%= link_to 'delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      </div>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
