<title><%= site_name %> - Feed</title>
<div class="row">
  <div class="small-3 columns">

    <%= render 'profiles/profile_box' %>

    <div class="posts-small-form">
        <%= new %>
				<%= render 'form' %>
    </div>
  </div>
  <div class="small-6 columns">

	<%= render 'print_post', :posts => @posts %>

  </div>
  <div class="small-3 columns">
    <div class="row">
      <div class="small-12 columns">
        <div class="panel">
          <%= link_to 'Browse All Profiles', profiles_path %>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="panel">
                <p>Random follow suggestions</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="panel">
                <p>3 random followed_users</p>
            </div>
        </div>
    </div>
  </div>

</div>

<br>
