<title><%= site_name %> - Feed</title>
<div class="row">
  <div class="small-3 columns">

    <%= render 'profiles/profile_box' %>

    <div class="posts-small-form">
        <%= new %>
				<%= render 'form' %>
    </div>
  </div>
  <div class="small-6 columns">

  <% if displayed_user.posts.count == 0 %>
    <div class="panel">
      <%= displayed_user %> has not posted yet!
    </div>
  <% end %>

	<%= render 'print_post', :posts => @posts %>

  </div>
  <div class="small-3 columns">

        <div class="panel">
          <%= link_to 'Browse All Profiles', profiles_path %>
        </div>

        <div class="panel">

				<%= render 'users/suggested' %>

        </div>
    </div>
  </div>

</div>

<br>
