<div class="post_display">
<p id="notice"><%= notice %></p>

<p class="post_display">
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p class="post_display">
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p class="post_display">
  <strong>Author:</strong>
  <%= @post.user %>
</p>

<p class="post_display">
  <strong>Published date:</strong>
  <%= @post.published_date %>
</p>
</div>
<%= link_to 'Back', posts_path,:class => 'small_label' %>&nbsp &nbsp
<%= link_to 'Edit', edit_post_path(@post),:class => 'small_label' %>
