<h4><%= @post.title %></h4>
<h5><strong>Author:</strong></h5>
<%= @post.user %>
<%= markdown(@post.body) %>
</p>
<h5>Published <%= time_ago_in_words @post.published_date %> ago</h5>
<p class="post_display">
  <h6>Comments</h6>
  <% @post.comments.each do |comment| %>
  <strong><h3>Commenter:</h3></strong>
  <%= comment.user %><br>
  <strong><h3>Comment:</h3></strong>
  <%= comment.body %>
  <% end %><br><br>
  <strong><h3><a class="comment">Add a comment:</a></h3></strong>
  <%= form_for ([@post, @post.comments.build]) do |f| %>
  <div class="large-4 columns">
    <div class="field">
      <%= f.label :user,nil, class: 'post_label' %><br>
      <%= f.text_field :user,class: 'post_label' %>
    </div>
  </div>
    <br><br><br>
  <div class="large-12 columns">
    <div class="field">

      <%= f.label :body,nil, class: 'post_label'%><br>
      <%= f.text_area :body, class: 'post_label' %>
    </div>
    <div class="actions">
    <%= f.button :submit, class: "radius small" %> <br>
    <%= link_to 'Back', posts_path,:class => 'small_label' %>

    </div>
  </div>
  <% end %>
<% if current_user.posts.include?(@post) %>
<%= link_to 'Edit', edit_post_path(@post), :class => 'small_label' %>
<% end %>
